.main {
    height: 200px;
    width: 200px;
    background-color:#ffa511;
    border-radius: 50%;
    position: absolute;

}


.eyes {
    display: flex;
    gap: 50px;
    position: relative;
    top: 40px;
    left: 50px;
}

.eye {
    height: 25px;
    width: 25px;
    background: black;
    border-radius: 50%;
}
.mouth{
    position: relative;
    background:brown;
    height: 20px;
    width: 80px;
    top: 100px;
    left: 60px;
    /* border-radius: 1.left up corner radius in px 2.right up corner radius in px 3.right down corner radius in px 4. left down corner radius in px */
    /*  border radius : 0px 0px 0px 0px*/
   border-radius: 0px 0px 15px 15px;
}