.main{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}
.main div{
 margin: 10px;
 height: 50px;
 width: 50px;
 border-radius: 50%;
 border: 1px solid black;

}
.red{
    background-color: red;
}
.yellow{
    background: yellow;
}

.green{
    background: green;
}
